<%- include('../../../templates/adminNav.ejs') -%>

<div class="main">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTreatment" style="width:100%"><span class="
glyphicon glyphicon-plus"></span>&nbsp;Add Dental Service</button>
<br><br>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Dental Service..">

  <table id="myTable">
    <tr class="header">
      <th style="width:10%;">No</th>
      <th style="width:25%;">Dental Service</th>
      <th style="width:25%;">Description</th>
      <th style="width:25%;">Start Price</th>
      <th style="width:25%;">Actions</th>
    </tr>

    <% if (re.length == 0 || re == 'undefined'){ %>
      <h5> No Dental Services</h5>
    <% }else{ %>

      <% re.forEach(function(i){ %>
        <tr>
          <td><%=i.intServiceNo%></td>
          <td><%=i.strServiceName%></td>
          <td><%=i.strServiceDescription%></td>
           <td><%=i.fltReferencePrice%></td>
          
          <td><button type="submit" data-toggle="modal" data-target="#viewTreatment" class="viewTreatment btn btn-info" data-dtreatment="<%=i.strServiceName%>" data-ddescription="<%=i.strServiceDescription%>" data-destimated="<%=i.fltReferencePrice%>" data-dno="<%=i.intServiceNo%>">View Details</button></td>
        </tr>

      <% }) %>

    <% } %>



  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addTreatment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dental Service Information</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/Admin_Treatment">
        <div class="form-group">
          <label for="treatment">Dental Service Name</label>
          <input type="text" class="form-control" name="treatment" id="treatment" placeholder="">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" id="description"></textarea>
          <!-- <input type="text" class="form-control" id="description" placeholder="Password"> -->
        </div>
        <div class="form-group">
          <label for="etreatment">Start Price</label>
          <input type="text" class="form-control" name="estimated" id="estimated" placeholder="">
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="viewTreatment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dental Service Information</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="/admin/editTreatment">
        <div class="form-group">
          <input type="hidden" class="form-control" name="no" id="eno" placeholder="" disabled>
          <label for="etreatment">Service Name</label>
          <input type="text" class="form-control" name="treatment" id="etreatment" placeholder="" disabled>
        </div>
        <div class="form-group">
          <label for="edescription">Description</label>
          <textarea class="form-control" name="description" id="edescription" disabled></textarea>
          <!-- <input type="text" class="form-control" id="description" placeholder="Password"> -->
        </div>
        <div class="form-group">
          <label for="etreatment">Service Start Price</label>
          <input type="text" class="form-control" name="price" id="eestimated" placeholder="" disabled>
        </div>
      



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <!--- <button type="submit" class="btn btn-primary">Edit</button> --->
      </div>

      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
</html>

<script>
  $('.viewTreatment').on('click', function(){
    $('#etreatment').val($(this).data('dtreatment'))
    $('#edescription').val($(this).data('ddescription'))
    $('#eestimated').val($(this).data('destimated'))
    $('#eno').val($(this).data('dno'))

  })
</script>


<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
